streamlit
streamlit-audiorec
requests
openai
boto3
python-dotenv

# For PostgreSQL:
# Use one of the following. psycopg2-binary is often simpler for quick setups, 
# but is not recommended for production. If you prefer the standard package, 
# replace 'psycopg2-binary' with 'psycopg2'.
psycopg2
